BOT_TOKEN=8886419657:AAEEeyj-2wbeVuOq7BquBDv8ajcmxn74Leg
OWNER_ID=8214040098
TARTARGET_GROUP_USERNAME=Telugu_Chatting2
API_ID=32558759
API_HASH=99cb60d4fbad7b43c4f1477893c3d9be
SESSION_STRING=BQHwzqcApYYk0hbl1VRsVIXD9GB4AwkkyNwQ6E6z1w9bQo2NPs93yXikoZiDSK8w0tHWb_7gaxliuPBX4qgaFEuvEBWQZ1kQsI_XKLmQ9sUtiNl2yZ4Z5fypmdeileOVuwred58yT5M51EUKhlTlNodNzMhIApJ1BE0Sbx6UK3FXf9ftC3KBd_LHXm3UbK0LtZbmAlaqGZhSo9cF3927_s55kK7Izj6D5dz1FSmr1AC5L8TR3-Q7Fx-6oA3K20P9fai-h6qp1iAoefZn3uCI8i27VB3m7eVK7lQUWOen56yg5NE8b-SFLu1ilZOcNURe4RZGnmZT6JdyRBe5m8bwqyuEOhnNkAAAAAHpmE4iAA
